.indus{
    color: white;
    width: 100%;
    padding-top:50px;
    max-width: 100%;
}
.indus .con{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
     gap: 10px;
    padding: 5px;
}
.indus h2,.indus h3{
    text-align: left;
    color: white;
}
.indus h2{
    padding-left: 5px;
    font-size: 25px;
    font-weight: bold;
}
.indus .con .lef{
    color: white;
    background-color: rgb(242, 18, 78);
    border-radius:5px;
    padding: 15px 22px;
    font-weight: 700;
    margin: 5px;
    margin-right: 10px;
}
.indus .svga {
  display: flex;
  flex-wrap: wrap;            /* Allows wrapping on small screens */
  justify-content: center;    /* Centers icons nicely */
  gap: 12px;                  /* Adds spacing between SVGs */
  width: 100%;
  max-width: 300px;           /* Optional: prevent SVGs from stretching too far */
  margin: auto;
  padding: 10px 0;
}

.indus .con .rig{
    margin: 5px;
}
.indus h4{
    margin: 5px;
    text-align: left;
    color: rgb(167,167,167);
}
.indus .con h4{
    margin: 1px;
}
.svga .hvr{
    background-color: #0f0e0e;
    max-height: 30px;
    margin: 5px;
      width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}
.svga .hvr:hover {
  transform: scale(1.1);
}
