/* Navbar base */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5vh;
    background-color: white;
    border-bottom: 1px solid #eee;
    font-family: Geneva
  }
  
  .navbar-logo {
    font-size: 22px;
    font-weight: bold;
    color: #222;
  }
  
  .navbar-links {
    display: flex;
    gap: 30px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #6b7280;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #e53935;
  }