.lnka{
    color: white;
    width: 25vw;
    padding-top:50px;
    margin-left: -25px;
}
.lnka .flex{
    display: flex;
    width: 18vw;
    height: 25px;
    margin: 10px;
    margin-left: 20px;
    align-items: left;
}

.lnka h2{
    text-align: left;
}
.lnka h4{
    margin: 5px;
    text-align: left;
    color: rgb(167,167,167);
    margin-left: 0px;
}
.lnka .svga{
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-left: -20px;
}
.lnka h4:hover{
    color: white;
}
