.red-button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ef233c;
    background-color: white;
    color: #ef233c;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top : 50px;
    margin-bottom : 60px;
    
  
}

.red-button:hover{
  background-color: #df1a31;
  color: white;
}