#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  gap: 20px;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.container3{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding: 10px;
  padding-left:0px ;
  flex-wrap: wrap;
  margin: 1rem;
  margin-left: 0px;
}


.about{
  text-align: center;
  font-weight: 600;
  color: black;
  margin-bottom: 0px;
}
.container2{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 0px;
  padding: 20px;
  gap: 8vw;
}
.boldLine{

  height: 7px;
  background-color: #e63946;
  width: 147px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.left{
  max-width: 50vw;
  text-align: left;
  margin-top: 3vw;
  padding-left: 0px;
  margin-left: 10vw;
}
.left h2{
  text-align: left;
  font-weight: 700;
  color: black;
}
.left h4{
  padding-top: 12px;
  text-align: left;
  font-weight: 300;
  color: rgb(92, 88, 88);
}
.container2 .right img{
  margin-top: 40px;
  max-width: 300px;
  border-radius: 15px;
}
.btn1{
  padding: 0.90rem 1.35rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
  background-color: #e4303f;
  color: white;
}
.btn1:hover {
  background-color: #c00d2b;
}
.cont{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 98.5%;
  padding: 10px;
  margin-bottom: 30px;
}
.cont h2, .cont p{
  text-align: left;
  padding-left: 20px;
}